*{
    box-sizing: border-box;
    margin: 0 auto;
}

.outerEdge{
    box-shadow: 1px 5px 5px 5px gainsboro;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    margin-top: 80px;
    background: rgb(176, 176, 133);
}

h1{
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0px 10px 0px;
    font-style: oblique ;
    font: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 1px 5px whitesmoke;

}

#screen{
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 2px black;
    width: 150px;
    overflow: hidden;
    height: 30px;
    padding-right: 6px;
    background: whitesmoke;
    text-align: end;
    text-shadow: 1px 0px 0px black;
    color: black;
    font-size: 1.5em;
    margin-bottom: 10px;
}
button{
    border: none;
    padding: 3px 13px;
    width: 34px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
}


button:hover{
    background: rgb(176, 176, 133);
    color: whitesmoke;
    box-shadow: 1px 1px 10px 5px;
    font-size: medium;
    
    }

#equal{
    height: 55px;
}

#key0{
    width: 72px;
}





