*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

main{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 300px;
    min-height: 400px;
    border-radius: 3%;
    box-shadow: 1px 2px 10px 2px grey ;
    background-image: linear-gradient(90deg,rgb(32, 210, 47),  yellow 50%, rgb(185, 57, 18)) ;
}

h1{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 2em;
    margin-top: 0px;
    background: black;
    color: yellow;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    text-shadow: 1px 1px 5px white;
    border-bottom: 2px solid black;
}

.name,
.height,
.weight{
    margin-left: 25px;
    padding: 10px;
}

label{
    font-weight: bold;
}
input{
    margin-left: 10px;
    padding: 5px 0px 5px 1px;
    text-align: center;
    border-radius: 5px;
}
#name{
    margin-left: 10px;
}

#height{
    margin-left: 5px;
}

#weight{
    margin-left: 19px;
}

button{
    margin: 5px 10px 5px 35px;
    padding: 5px 53px;
    border: 1px solid black;
    background: black;
    color: yellow;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
}

button:hover{
    border: 2px ridge aliceblue;
    padding: 4px 50px;
}

div p{
    margin: 10px 45px 0px 35px;
    padding: 15px 10px;
    width: 220px;
    height: 100px;
    border-radius: 5px 5px;
    box-shadow: 0px 2px 5px 4px rgb(30, 29, 29);
    border: 2px ridge aliceblue;
    background: black;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}