*{
    box-sizing: border-box;
    margin: 0;
}

header {
    margin-top: 20px;
    text-align: center;
}

header P{
    font-size: 0.8em;
    font-weight: 700;
    color: green;

}



#gif{
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 20px;
}

#start{
    display: flexbox;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border: 5px solid black;
    background: greenyellow;
    cursor: pointer;
    font-weight: 700;
    color:black
}

#restart{
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border: 5px solid black;
    background: greenyellow;
    cursor: pointer;
    font-weight: 700;
    color:black
}
#button{
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    width: 80px;
    border-radius: 100%;
    border: 5px solid black;
    box-shadow: 0px 2px 3px 5px rgb(113, 111, 111);
    cursor: pointer;
}

#button:hover {
    box-shadow: 0px 2px 3px 8px rgb(40, 223, 12);
    border: 7px solid black;
}